# Project information
site_name: Interactive CYOA Creator Tutorial
site_url: https://icctutorial.pages.dev/
site_author: Pasadena
site_description: >-
  A complete and comprehensive guide to using the Interactive CYOA Creator by
  MeanDelay.

# Repository
repo_name: upasadena/interactive-cyoa-tutorial
repo_url: https://github.com/upasadena/interactive-cyoa-tutorial
edit_uri: edit/main/docs/

# Copyright
copyright: >-
  The source code of this website is subject to the
  <a href="https://www.gnu.org/licenses/agpl-3.0.html">AGPLv3 licence</a>.<br>
  The content of this website is subject to the
  <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode.txt">
  CC BY-SA 4.0 licence</a>.

# Configuration
theme:
  name: material
  # favicon: images/favicon.ico # Hmm
  custom_dir: overrides
  features:
    - navigation.instant
    - navigation.tabs
    - navigation.sections
    - navigation.expand
    - navigation.indexes
    - navigation.footer
    - toc.follow
    - navigation.top
    - search.suggest
    - search.highlight
    - search.share
    - content.action.edit
    - content.action.view
    - content.code.copy
  palette: 
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      toggle:
        icon: material/toggle-switch-off-outline
        name: Switch to light mode
      primary: deep purple
      accent: deep purple

    - media: "(prefers-color-scheme: light)"
      scheme: default
      toggle:
        icon: material/toggle-switch
        name: Switch to dark mode
      primary: deep purple
      accent: deep purple

# Plugins
plugins:
  - search:
      separator: '[\s\-,:!=\[\]()"/]+|(?!\b)(?=[A-Z][a-z])|\.(?!\d)|&[lg]t;'
  - git-revision-date-localized:
      enable_creation_date: true
  - git-authors:
      show_contribution: true
      show_line_count: true
      show_email_address: false # No need for this
      fallback_to_empty: false
      sort_authors_by: contribution
      authorship_threshold_percent: 0 # Default
      exclude:
        - index.md
      enabled: true
      strict: true
  - minify:
      minify_html: true
      htmlmin_opts:
        remove_comments: true

nav:
  - Home: https://upasadena.github.io/
  - CYOAs: https://upasadena.github.io/cyoas/
  - Interactive CYOA Tutorial:
    - index.md
    - Introduction:
      - introduction/index.md
    - Basics:
      - basics/index.md
    - Mechanics:
      - mechanics/index.md
      - Rows: mechanics/rows.md
      - Objects / Choices: mechanics/objects.md
      - Addons: mechanics/addons.md
      - Backpack & Choice Import: mechanics/backpack-and-choice-import.md
      - IDs & Requirements: mechanics/ids-and-requirements.md
      - Points & Scores: mechanics/points-and-scores.md
      - Images: mechanics/images.md
      - Defaults: mechanics/defaults.md
      - Words: mechanics/words.md
      - Buttons & Variables: mechanics/buttons-and-variables.md
      - Groups: mechanics/groups.md
    - Styling:
      - styling/index.md
      - Design: styling/design.md
    - Publishing:
      - publishing/index.md
      - Static: publishing/static.md
      - Github: publishing/github.md
      - Neocities: publishing/neocities.md
    - Extending Your CYOA:
      - extending-your-cyoa/index.md
    - Appendix:
      - appendix/index.md
      - Reference: appendix/reference.md
      - Troubleshooting: appendix/troubleshooting.md
      - Resources: appendix/resources.md
      - About: appendix/about.md

extra:
  social:
    - icon: fontawesome/brands/reddit-alien
      link: https://www.reddit.com/user/_pasadena
      name: _pasadena on Reddit
    - icon: fontawesome/brands/github
      link: https://github.com/upasadena
      name: upasadena on GitHub
    - icon: fontawesome/brands/discord
      link: https://discord.gg/h9txkD2Tcc
      name: Pasadena's discord server

markdown_extensions:
  - abbr # use abbreviations, like hovertext
  - admonition # note boxes
  - attr_list # add html and css attributes to most stuff
  - pymdownx.emoji:
      emoji_index: !!python/name:materialx.emoji.twemoji
      emoji_generator: !!python/name:materialx.emoji.to_svg
  - def_list # definitions like MediaWiki
  - footnotes # footnotes
  - md_in_html # allow use of markdown in html
  - toc:
      permalink: true
      permalink_title: Anchor link to this section for reference
  - tables # must
  - pymdownx.caret # insert, superscript
  - pymdownx.mark # highlighting
  - pymdownx.tilde # delete, subscript
  - pymdownx.details # collapsable note boxes for admonition
  - pymdownx.highlight:
      linenums: true
      anchor_linenums: true
      auto_title: true
  - pymdownx.superfences
  - pymdownx.inlinehilite
  - pymdownx.keys
  - pymdownx.smartsymbols
  - pymdownx.snippets:
      auto_append:
        - includes/abbreviations.md
  - pymdownx.tabbed:
      alternate_style: true
  # GitHub-style task lists
  - pymdownx.tasklist:
      custom_checkbox: true

watch:
  - overrides/
  - includes/

# extra_javascript:
#   - js/extra.js
#   - js/moment-with-locales.js