mkdocs~=1.4 # 1.4.3
mkdocs-material @ https://github.com/squidfunk/mkdocs-material/archive/refs/tags/9.2.0b1.zip
mkdocs-git-authors-plugin~=0.7 # 0.7.2
mkdocs-git-revision-date-localized-plugin~=1.2 # 1.2.0
mkdocs-minify-plugin~=0.6 # 0.6.4
mkdocs-macros-plugin~=1.0 # 1.0.2
pymdown-extensions~=10.1 # 10.1.0